name: Alpine
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - master
  pull_request:
  schedule:
    - cron:  '13 3 * * *'
jobs:
  supported-alpine-versions:
    name: Supported Alpine versions
    runs-on: blacksmith-4vcpu-ubuntu-2404
    outputs:
      alpine: ${{ steps.supported-alpine-versions.outputs.versions }}
    steps:
      - id: supported-alpine-versions
        name: Generate Alpine
        uses: wyrihaximus/github-action-supported-alpine-linux-versions@88408abff983d8920864f7e9ea846b732c48cd51 # v1.4.1
  ci:
    needs:
      - supported-alpine-versions
    name: Continuous Integration
    uses: ./.github/workflows/ci.yml
    secrets: inherit
    with:
      alpine: ${{ needs.supported-alpine-versions.outputs.alpine }}
      debian: "[]"
